$darken-text:rgb(50,50,50);
$normal-text:lightgray;

$default-background: rgb(100,100,100);
$default-background-hover: rgb(150, 150, 150);

$primary: #47b9eb;
$primary-hover: skyblue;

$success: rgb(72, 255, 107);
$success-hover: rgb(119, 255, 155);

$warning: rgb(255, 255, 50);
$warning-hover: rgb(255, 254, 102);

$danger: rgb(255, 89, 86);
$danger-hover: rgb(255, 120, 120)
